doctype html
html
  head
    title Employee App
    link(rel="stylesheet", href="/style.css")
  body
    header
      h1 Employee Management
      nav
        a(href="/").heading Home
        
        a(href="/new").heading Add Employee 
        
        a(href="/sort").heading Sort Employees
    block content